@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 全局交互元素样式 */
button, input, select, textarea {
  transition: all 0.2s ease;
}

/* 导航链接样式 */
.nav-link {
  font-weight: bold;
  color: black;
}
